@IMPORT 'THEMES/BASE';
@IMPORT 'THEMES/STROEER';
@IMPORT 'THEMES/ASTRAL';
@IMPORT 'THEMES/OUTFRONT';
@IMPORT 'THEMES/LIVEBOARD';
@IMPORT 'THEMES/ZOOM';
@IMPORT 'THEMES/MEDIACOM';
@IMPORT 'THEMES/NOVUS';
@IMPORT 'THEMES/KINETIC';
@IMPORT 'THEMES/ASIARAY';
@IMPORT 'THEMES/CAPTIVATE';
@IMPORT 'THEMES/XAXIS';
@IMPORT 'THEMES/POSTERSCOPE';
@IMPORT 'THEMES/MINDSHARE';
@IMPORT 'THEMES/WAVEMAKER';
@IMPORT 'THEMES/OMG';
@IMPORT 'THEMES/MEDIALAB';
@IMPORT 'THEMES/TALON';
@IMPORT 'THEMES/BUNTIN';
@IMPORT 'THEMES/CLEARCHANNEL';
@IMPORT 'THEMES/OLG';
@IMPORT 'THEMES/TRADEOOH';
@IMPORT 'THEMES/VISION7';
@IMPORT 'THEMES/OOHLABS';
@IMPORT 'THEMES/DOORDASH';
@IMPORT 'THEMES/CINEPLEX';
@IMPORT 'THEMES/VMO';
@IMPORT 'THEMES/RAFITESTORG1';

$THEMES: (
  BASE: $BASE-THEME,
  S: $STROEER-THEME,
  A: $ASTRAL-THEME,
  O: $OUTFRONT-THEME,
  L: $LIVEBOARD-THEME,
  Z: $ZOOM-THEME,
  M: $MEDIACOM-THEME,
  N: $NOVUS-THEME,
  K: $KINETIC-THEME,
  Y: $ASIARAY-THEME,
  C: $CAPTIVATE-THEME,
  X: $XAXIS-THEME,
  P: $POSTERSCOPE-THEME,
  MS: $MINDSHARE-THEME,
  W: $WAVEMAKER-THEME,
  OMG: $OMG-THEME,
  ML: $MEDIALAB-THEME,
  TA: $TALON-THEME,
  BT: $BUNTIN-THEME,
  CC: $CLEARCHANNEL-THEME,
  OLG: $OLG-THEME,
  TO: $TRADEOOH-THEME,
  V7: $VISION7-THEME,
  OL: $OOHLABS-THEME,
  DD: $DOORDASH-THEME,
  CX: $CINEPLEX-THEME,
  VAL: $VMO-THEME,,
  RTO1: $RAFITESTORG1-THEME
);
